{% extends "base.html" %}

{% block content %}

<div class="card p-4">
    <h1>OBECON</h1>

    <p>
        Plataforma de organização da OBECON.
    </p>

    <div class="d-flex gap-2 flex-wrap">
        <a href="{% url 'contas:login' %}" class="btn btn-primary">
            Login
        </a>

        <a href="{% url 'contas:cadastro_aluno' %}" class="btn btn-outline-secondary">
            Cadastro de aluno
        </a>

        <a href="{% url 'contas:cadastro_administrador' %}" class="btn btn-outline-secondary">
            Cadastro de administrador
        </a>
    </div>
</div>

{% endblock %}
